*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse artifacts
.settings
.classpath
.project

bin/
target/
.DS_Store
/srpc-server/target
/*/target
/srpc-sample-client/target
/srpc-sample-app/target
/srpc-registry/target
/srpc-comm/target
